* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #fcfcfc;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #777;
   font-size: 18px;
}

.todo {
   width: 90%;
   max-width: 800px;
   margin: 10px auto;
}

.form {
   margin: 18px 0;
}

input {
   display: block;
   width: 100%;
   padding: 15px;
   font-size: inherit;
   border: none;
   outline: none;
   border-bottom: 3px solid #777;
}

input:focus {
   border-bottom: 3px solid #990000;
}

.todo__items {
   list-style: none;
}

.todo__item,
.todo__completed {
   background-color: #c7c7c7;
   padding: 15px 30px;
   border-radius: 5px;
   margin: 5px 0;
   display: flex;
   justify-content: space-between;
}

.todo__completed {
   background-color: #f47676;
}

.delete {
   cursor: pointer;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* background-color: #c9c9c9; */
}

.login {
   background-color: #c9c9c9;
   padding: 5px 15px;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.login:hover {
   background-color: #828282;
   color: #fff;
}

.avatar {
   width: 50px;
   overflow: hidden;
   border-radius: 50%;
   margin-right: 5px;
}

.avatar img {
   width: 100%;
   height: 100%;
}

.email {
   font-size: 0.5em;
}